@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Courgette&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300&family=Quicksand&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Bellefair&family=Courgette&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300&family=Quicksand&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Courgette&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300&family=Quicksand&family=Space+Grotesk&display=swap');

// DESKTOP

#starIcon {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 64px;
  left: 55px;
}

#lineDesktop {
  position: absolute;
  width: 473px;
  height: 1px;
  top: 88px;
  left: 167px;
  opacity: 0.25px;
  color: #ffffff;
}

#rectangleHeaderDesktop {
  position: absolute;
  width: 830px;
  height: 96px;
  top: 40px;
  left: 610px;

  background: #ffffff0a;
}
.navContainer {
  position: absolute;

  top: 79px;
  left: 733px;

  .navContainer__link {
    // width: 96px;
    // height: 19px;
    padding-bottom: 35px;
    margin-right: 50px;

    font-family: Barlow Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: left;

    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }

  .navContainer__link:hover {
    border-bottom: 3px solid white;
  }
}
