@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Courgette&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300&family=Quicksand&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Condensed&family=Bellefair&family=Courgette&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300&family=Quicksand&family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: "border-box";
}
body {
  background-image: url("../assets/img/Space-mobile.png");
  background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */}
  /* @media (min-width: 1440px) {
  background-image: url("../assets/img/Space-desktop.png");
  background-size: cover; /* Esto asegura que la imagen cubra toda la pantalla */



.container__principal {
  position: relative;
  width: 375px;
  height: 710px;
  @media (min-width: 1440px) {
    position: relative;
    width: 1440px;
    height: 900px;
    top: -3022px;
    left: 1744px;

  }
}

.header__container {
  position: absolute;
}
.path_mobile {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 24px;
  left: 24px;
}
.menu_hamburguesa {
  position: absolute;
  width: 24px;
  height: 21px;
  top: 33px;
  left: 327px;
  @media (min-width: 1440px) {
    position: absolute;
    display: none;
  }
}
.title__primer__personaje {
  position: absolute;
  width: 176px;
  height: 19px;
  top: 92px;
  left: 100px;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
  text-align: left;
  color: #ffffff;
  @media (min-width: 1440px) {
    position: absolute;
    width: 224px;
    height: 34px;
    left: 54px;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 4.724999904632568px;
    color:white;
  }
}
.container__image {
  position: absolute;
  background-image: url("../assets/img/Space1-m.png"); 
  width: 375px;
  height: 170px;
  top: 160px;
  @media (min-width: 1440px) {
    position: absolute;
    background-image: url("../assets/img/Space-1.png"); 
    width: 515px;
    height: 527px;
    top: 272px;
    left: 925px;
  }
}
.container__image2 {
  position: absolute;
  background-image: url("../assets/img/space2-m.png"); 
  width: 375px;
  height: 190px;
  top: 160px;
  @media (min-width: 1440px) {
    position: absolute;
    background-image: url("../assets/img/space-2.png"); 
    width: 5157px;
    height: 527px;
    top: 272px;
    left: 925px;
  }

}
.container__image3 {
  position: absolute;
  background-image: url("../assets/img/space3-m.png"); 
  width:375px;
  height: 170px;
  top: 160px;
  @media (min-width: 1440px) {
    background-image: url("../assets/img/space-3.png"); 
    position: absolute;
    width: 515px;
    height: 527px;
    top: 272px;
    left: 925px;
  }

}

.container__carrusel {
  position: absolute;
  width: 327px;
  height: 220px;
  top: 409px;
  left: 24px;
  @media (min-width: 1440px) {
    position:absolute;
    width: 444px;
    height: 303px;
    top: 383px;
    left: 325px;

  }
}

.container__title {
  position: absolute;
  width: 327px;
  height: 54px;
}
.title__Commander {
  position: absolute;
  width: 132px;
  height: 17px;
  left: 98px;
  top:70px;
  font-family: Barlow Condensed;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2.362499952316284px;
  text-align: center;
  color: #ffffff;
  @media (min-width: 1440px) {
    position: absolute;
    width: 150px;
    height: 19px;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.700000047683716px;
    text-align: left;
    color:white;
    
  }
}
.title__douglas {
  position: absolute;
  width: 327px;
  height: 28px;
  top: 95px;
  font-family: Bellefair;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  @media (min-width: 1440px) {
    position: absolute;
    width: 417px;
    height: 64px;
    top: 30px;
    font-family: Bellefair;
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    color:white;

  }
}
.paragraph__douglas {
  position: absolute;
  width: 322px;
  height: 100px;
  top: 140px;
  font-family: Barlow;
  font-size: 16.44px;
  font-weight: 450;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #d0d6f9;
  @media (min-width: 1440px) {
    position: absolute;
    width: 444px;
    height: 192px;
    top: 111px;
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color:white;
    
  }
}

//carrusel personajes
